body {
  overflow-x: hidden;
}

.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg {
  background: url("./assets/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

}

.app__wrapper_info_center {
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button_black {
  background-color: black;
  color: white;
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 30px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.custom__button_white {
  background-color: white;
  color: black;
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 30px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.p__cormorant_black {
  font-family: var(--font-base);
  color: var(--color-black); /* Set text color to black */
  font-weight: 700;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 29.9px;
  font-size: 23px;
}

.h__subtitle {
  font-family: var(--font-alt);
  color: white;
  font-weight: 400;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
  line-height: 28px;
  font-size: 21px;
}

.h__subtitle_black {
  font-family: var(--font-alt);
  color: black;
  font-weight: 400;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
  line-height: 28px;
  font-size: 19px;
}

.p__opensans {
  font-family: var(--font-alt);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
  line-height: 28px;
  font-size: 21;
}

.p__opensans_black {
  font-family: var(--font-alt);
  color: black; /* Set text color to black */
  font-weight: 400;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
  line-height: 28px;
  font-size: 21;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
}

.headtext__cormorant_black {
  font-family: var(--font-base);
  color: var(--color-black); /* Set text color to black */
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  /*text-transform: capitalize;*/
}

.spoon__img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .custom__button_black,
  .custom__button_white,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .h__subtitle,
  .h__subtitle_black,
  .p__opensans_black,
  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant,
  .headtext__cormorant_black {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .p__cormorant {
    font-size: 21px;
  }

  .h__subtitle,
  .h__subtitle_black,
  .p__opensans_black,
  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .h__subtitle,
  .h__subtitle_black,
  .p__opensans_black,
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant,
  .headtext__cormorant_black {
    font-size: 45px;
    line-height: 70px;
  }
}




/* ANIMATIONS */
.fade-in-2 {
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 2s; /* Transición de aparición */
}

.fade-in-2.visible {
  opacity: 1; /* Aparecer completamente */
}

@keyframes fadeIn2 {
  from {
    opacity: 0; /* Inicialmente invisible */
  }
  to {
    opacity: 1; /* Aparecer completamente */
  }
}

.fade-in-25 {
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 2.5s; /* Transición de aparición */
}

.fade-in-25.visible {
  opacity: 1; /* Aparecer completamente */
}

@keyframes fadeIn25 {
  from {
    opacity: 0; /* Inicialmente invisible */
  }
  to {
    opacity: 1; /* Aparecer completamente */
  }
}

/* Fade in with 1-second transition */
.fade-in {
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 1s; /* Transición de aparición en 1 segundo */
}

.fade-in.visible {
  opacity: 1; /* Aparecer completamente */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Inicialmente invisible */
  }
  to {
    opacity: 1; /* Aparecer completamente */
  }
}

/* Fade in from the right */
.fade-in-right {
  opacity: 0;
  transform: translateX(100%); /* Start from the right */
  transition: opacity 1s, transform 1s;
}

.fade-in-right.visible {
  opacity: 1;
  transform: translateX(0); /* Move to original position */
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade in from the left */
.fade-in-left {
  opacity: 0;
  transform: translateX(-100%); /* Start from the left */
  transition: opacity 1s, transform 1s;
}

.fade-in-left.visible {
  opacity: 1;
  transform: translateX(0); /* Move to original position */
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Scale up */
.scale-up {
  opacity: 0;
  transform: scale(0.8); /* Start smaller */
  transition: opacity 1s, transform 1s;
}

.scale-up.visible {
  opacity: 1;
  transform: scale(1); /* Scale to original size */
}

@keyframes scaleUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}